<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="./img/weather.png">
    <link rel="stylesheet" href="./css/style.css">
    <title>404</title>
</head>
<body>
   {{>header}}
    <h3>{{errMsg}}</h3>
    
    
    
    
    
    {{>footer}}
    <script src="./js/new.js"></script>
</body>
</html>