<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="./img/weather.png">
    <link rel="stylesheet" href="./css/style.css">
    <title>Weather app</title>
</head>
<body>
    <main>
        {{>header}}
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore aspernatur ad autem, cum quisquam voluptates repudiandae, necessitatibus neque nesciunt odit facilis aut aliquid harum error optio alias excepturi porro quam.</p>
    </main>
    
   
   
   
    {{>footer}}
   <script src="./js/new.js"></script>
   
   
</body>
</html>