<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="./img/weather.png">
    <link rel="stylesheet" href="./css/style.css">
    <title>Weather app</title>
</head>
<body>
    <main>
        {{>header}}
        <h3>Enter city name to get the weather</h3>
        <form>
            <input placeholder="Enter a city name">
            <button>Search</button>
        </form>
        <p id="forcast"></p>
    </main>
    
   
   
   
    {{>footer}}
   <script src="./js/new.js"></script>
   
   
</body>
</html>